<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="style.css" />
    <title>APP Vue Deezer</title>
  </head>
  <body>
    <div v-cloak id="test">
      <h1>Les styles musicaux Deezer</h1>
      <div>
        <h2>Cherche ton style préférer parmis les ronds</h2>
      </div>
      <div id="inputStyle">
        <template v-for="genre in genres">
          <input
            type="radio"
            :id="genre"
            :value="genre"
            name="genre"
            v-model="currentGenre"
          />
        </template>
      </div>
      <ul v-if="genre?.name">
        <li>{{genre.name}}</li>
        <li>
          <img :src="genre.picture" alt="img" />
        </li>
      </ul>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script>
      const apiURL = "https://api.deezer.com/genre/";

      Vue.createApp({
        data() {
          return {
            genres: [
              "132",
              "457",
              "116",
              "152",
              "113",
              "165",
              "85",
              "106",
              "466",
              "144",
              "129",
              "52",
              "84",
              "98",
              "173",
              "463",
              "169",
              "153",
              "197",
              "2",
              "12",
              "16",
              "75",
              "81",
            ],
            currentGenre: "",
            genre: null,
          };
        },

        watch: {
          currentGenre: "fetchData",
        },

        methods: {
          fetchData: function () {
            const self = this;
            axios
              .get(apiURL + self.currentGenre)
              .then(function (response) {
                console.log(response.data, "dataAsked");
                self.genre = response.data;
              })
              .catch(function (error) {
                console.log(error);
              });
          },
        },
      }).mount("#test");
    </script>
  </body>
</html>
